<!DOCTYPE html>
<html>
    <head>
        <!-- add in title and also in app.py -->
        <title> Twitoff!! - {{ title }}</title>

    </head>

    <body>
        <h1> Twitoff rules! </h1>
        <p> The Twitter users currently in the database are below. <br> <br>
            Click their name to see their most recent tweets!</p>

        <ul>
            {% for user in users %}
            <li><a href="/user/{{user.name}}">{{ user.name }}</a></li>
            {% endfor %}
        </ul>

    </body>

</html>
